.vs
bin
obj
/Project-Creator/Project-Creator/ProjectManagement/page.css
/Project-Creator/Project-Creator/bin/Project-Creator.dll.config
/Project-Creator/Project-Creator/bin/Project-Creator.pdb
/Project-Creator/Project-Creator/bin/Project-Creator.dll
/Project-Creator/Project-Creator/obj/Debug/Project-Creator.dll
/Project-Creator/Project-Creator/obj/Debug/Project-Creator.pdb
/Project-Creator/.vs/Project-Creator/config/applicationhost.config
/Project-Creator/.vs/Project-Creator/v16/.suo
Project-Creator/.vs/Project-Creator/v16/.suo
.vs/MERM-Capstone2020/v16/.suo
