h2.Project {
    color: #3b3b3b;
    font-size: 20px;
}
div.Project {
    width: 100%;
}
div.ProjectTable {
    display: table;
    width: 100%;   
}
div.ProjectRow {
    display: table-cell;
    text-align: center;
}
div.ProjectColumn {
    display: inline-block;
    vertical-align: top;
}
img.Project {
    width: 160px;
    height: 160px;
    background-color: #3b3b3b;
}
.gallery {
    background: #0f0f0f;
}
.gallery-cell {
    width: 320px;
    height: 400px;
    margin-right: 10px;
    padding: 12px;
    counter-increment: gallery-cell;
}
.gallery-image {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

/****/
.related-panel {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px
}

.related-panel:after, .related-panel:before {
    content: "";
    display: table;
    clear: both
}

.timeline-content {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .timeline-content {
        width: 24.99999%
    }
}

.related-img {
    height: 128px;
    width: 128px;
}