h2.Project {
    color: #525252;
    font-size: 20px;
}

div.Project {
    width: 100%;
}

div.ProjectTable {
    display: table;
    width: 100%;
}

div.ProjectRow {
    display: table-cell;
    text-align: center;
}

div.ProjectColumn {
    display: inline-block;
    vertical-align: top;
}

label.Project, img.Project {
    display: flex;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
}

div.Timeline {
    width: 90%;
    height: 360px;
    margin: 0;
    padding: 8px;
}

div.Timeline:hover {
    cursor: pointer;
    background-color: #242424;
}

h2.TimelineTitle {
    max-width: 286px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery {
    height: 424px;
    background: #0f0f0f;
}

.gallery-cell {
    width: 320px;
    height: 400px;
    margin-right: 10px;
    padding: 12px;
    counter-increment: gallery-cell;
}

.gallery-image {
    object-fit: cover;
    width: 284px;
    height: 156px;
    border-style: solid;
    border-width: 1px;
    border-color: #3b3b3b;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}


.related-panel {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.related-panel::after, .related-panel::before {
    content: "";
    display: table;
    clear: both;
}

.timeline-content {
    float: left;
    width: 100%;
}
.timeline-image-container {
    text-align: left;
    position: relative;
    padding-bottom: 20%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-color: #3b3b3b;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
    outline-width: 0px;
    -webkit-box-shadow: 0px 5px 7px 0px #000000;
    box-shadow: 0px 5px 7px 0px #000000;
}
.timeline-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
.timeline-image-container-edit {
    text-align: left;
    position: relative;
    padding-bottom: 56.2%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-color: #3b3b3b;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px;
    outline-width: 0px;
    -webkit-box-shadow: 0px 5px 7px 0px #000000;
    box-shadow: 0px 5px 7px 0px #000000;
}
.file-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@media (min-width:601px) {
    .timeline-content {
        width: 24.99999%;
    }
}

.related-img {
    height: 128px;
    width: 128px;
}

.comment-img {
    height: 80px;
    width: 80px;
}

div.comment {
    margin-bottom: 10px;
    border-bottom: solid;
}

td.comment-info {
    width: 15%;
    height: 100px;
    padding-right: 24px;
    border-right: solid;
}

td.comment-content {
    padding-left: 24px;
    padding-right: 24px;
}


input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.comment-submit {
    width: 15%;
    border-left: solid;
}

div.Browse:hover {
    cursor: pointer;
    background-color: #242424;
}
input[type=submit].ButtonSearch{
    float: right;
}

.imgHolder {
    position: relative;
}

    .imgHolder label {
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0.5;
    }