
/* Navigation Style. */
div.Navigation {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: black 0px 1px 3px;
}
table.Navigation{
    width: 100%;
}
tr.Navigation{

}
td.Navigation{
    
}

/* Searchbar Style. */
table.Search{
    width: 100%;
}
tr.Search{

}
td.Search{
    overflow: hidden;
}
input[type=text].Search{
    width: 100%;
}

/* Link Style. */
table.Link {
    width: 60%;
    margin-left: auto;
    min-width: 240px;
    table-layout: fixed;
}
tr.Link{

}
td.Link{
    text-align: center;
}
a.Link{
    text-decoration: none;
}
a.Link:hover {
    color: #cf99ff;
}