
/* Default style. */
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #0f0f0f;
}

/* Constant Colors. */
.Primary {
    background-color: #0f0f0f;
}
.Secondary {
    background-color: #242424;
}
.Tertiary {
    background-color: #3b3b3b;
}
.Highlight {
    background-color: #a142f5;
}

/* Basic Floating Divider. */
div.Basic {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    padding: 8px;
    text-align: center;
    background-color: #242424;
}