h2.Project {
    color: #3b3b3b;
    font-size: 20px;
}
div.Project {
    width: 100%;
}
div.ProjectTable {
    display: table;
    width: 100%;   
}
div.ProjectRow {
    display: table-cell;
    text-align: center;
}
div.ProjectColumn {
    display: inline-block;
    vertical-align: top;
}
img.Project {
    width: 160px;
    height: 160px;
    background-color: #3b3b3b;
}
