h2.Creator {
    color: #525252;
    font-size: 20px;
}

div.Creator {
    width: 100%;
}

div.CreatorTable {
    display: table;
    width: 100%;
}

div.CreatorRow {
    display: table-cell;
    text-align: center;
}

div.CreatorColumn {
    display: inline-block;
    vertical-align: top;
}

img.Creator {
    width: 160px;
    height: 160px;
    background-color: #3b3b3b;
}


.gallery {
    background: #0f0f0f;
}

.gallery-cell {
    width: 320px;
    height: 400px;
    margin-right: 10px;
    padding: 12px;
    counter-increment: gallery-cell;
}

.gallery-image {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

/****/
.related-panel {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px
}

    .related-panel:after, .related-panel:before {
        content: "";
        display: table;
        clear: both
    }

.timeline-content {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .timeline-content {
        width: 24.99999%
    }
}

.related-img {
    height: 128px;
    width: 128px;
}

.comment-img {
    height: 80px;
    width: 80px;
}

div.comment {
    margin-bottom: 10px;
    border-bottom: solid;
}

td.comment-info {
    width: 100px;
    height: 100px;
    padding-right: 24px;
    border-right: solid;
}

td.comment-content {
    padding-left: 24px;
}

.comment-textbox {
    height: 100px;
    width: 100%;
    text-wrap: normal;
}



.vertical .carousel-inner {
    height: 100%;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
    left: 0;
}


.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}
