
/* Input style. */
input {
    margin: 6px;
    padding: 8px;
}

/* Textbox style. */
input[type=text], input[type=password] {
    margin: 6px;
    padding: 6px;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    border-color: darkslateblue;
    box-shadow: darkslateblue 0px 1px 3px;
    outline-width: 0;
}

/* Button style. */
input[type=button], input[type=submit] {
    color: white;
    font-size: 16px;
    background-color: darkslateblue;
    border-style: none;
    border-radius: 6px;
    box-shadow: darkslateblue 0px 1px 3px;
    outline-width: 0;
}
input[type=button]:hover, input[type=submit]:hover {
    color: white;
    cursor: pointer;
    background-color: slateblue;
}